nav li{
    list-style-type: none;
    display: inline;
    margin-right: 20px;
}
nav li a{
    text-decoration: none;
}
nav li:hover{
    background-color: rgb(128, 250, 254);
}
footer{
    text-align: center;
}